body {
  background-color:#e7b518;
}
.divContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.inputsContainer {
  display: flex;
  flex-flow: row;
  background-color:#886846;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  border-radius: 0 0 10px 10px;
  position: sticky;
  top: 5px;
  width: 80vw;
}
.insertCep {
  border-radius: 4px;
  width: 25vw;
  height: 50px;
  font-size: 2.5rem;
  text-align: center;
  border: 0;
}
/* .buttonSend {
  width: 50px;
  height: 50px;
  margin-left: 12px;
  background-color: #78b3a4;
  font-size: 1.5rem;
  border-radius: 2px;
  border: 0;
} */
